**/target/
.mvn
**/logs/
*.log

.idea/
*.iml

.project
.classpath
.settings/

.vscode/

.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

build/
bin/


.env

*.class

*.jar
*.war
*.ear


